# API + Socket.IO base URL (your deployed backend)
VITE_API_URL=https://secapstone.onrender.com

# Firebase Web config
VITE_FIREBASE_API_KEY=AIzaSyDm2RDaYjY2nz7-dMCr82sHs14aMAf0Cgk
VITE_FIREBASE_AUTH_DOMAIN=secapstone-e2d78.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=secapstone-e2d78
VITE_FIREBASE_STORAGE_BUCKET=secapstone-e2d78.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1081210169091
VITE_FIREBASE_APP_ID=1:1081210169091:web:224213018838497769ab36
